#
# Accelerometer Sensor Configuration
#



config ACCEL                                                              
	bool "Accelerometer Sensor"
	default y
	help
	This option enables accelerometer sensors  
	   

config ACCEL_BMA020
	depends on ACCEL
	tristate "BMA020 driver for s5pc110"
	default y
	help
	  This option enables accelerometer sensors using bma020 driver.

config ACCEL_BMA020_SWAPXY
	depends on ACCEL_BMA020
        bool "BMA020: Swap X and Y"
	default n
	help
	  This option swaps x and y.
	  
