#
#
#


menuconfig SENSOR
	bool "Sensors Support"
	help
	  Say Y to enable Sensors support.  This allows control of supported
	  Sensors.

	  
	  

if SENSOR

source "drivers/sensor/accel/Kconfig"

source "drivers/sensor/compass/Kconfig"

source "drivers/sensor/gyro/Kconfig"

source "drivers/sensor/light/Kconfig"

endif # SENSOR
