
/dev/pvrsrvkm             0666   system     system
/dev/s3c-jpg              0660   system     camera
/dev/s3c-mem              0660   system     system
/dev/s3c-mfc              0660   system     graphics
/dev/s3c_bc               0666   system     graphics
/dev/pmem                 0660   system     graphics
/dev/pmem_gpu1            0660   system     graphics
/dev/graphics/*           0660   root       graphics

/dev/modem_ctl            0660   radio      radio
/dev/modem_fmt            0660   radio      radio
/dev/modem_rfs            0660   radio      radio
/dev/s3c2410_serial3      0660   radio      radio

# for Sensor HAL
/dev/akm8973              0660   system     system
/dev/accelerometer        0660   system     system
/dev/l3g4200d             0600   root       root

# for GPS
/dev/s3c2410_serial1      0600   gps        gps

# for FM Radio
/dev/radio0               0666   system     audio

# serial console aka s3c2310_serial2 uart in old kernel
/dev/ttyFIQ0              0600   root       root
