#
# MAGNETIC Sensor Configuration
#

config COMPASS
	bool "Sensors"
	default y
	help
	  This option enables sensors


config COMPASS_AK8973B
	depends on COMPASS
	tristate "AK8973B driver for s5pc11x"
	default y
	help
	  This option enables magnetic sensors using ak8973b driver
	  It is optimized for s5pc11x
	  
